.root {
    background-color: transparent;
    /* background: radial-gradient(100% 200% at 0.00% 100.00%, #000313 0%, #00011D 50.67%, #000027 66.98%, #22023A 67.13%, #000 67.28%, #120333 67.42%, #190628 74.60%, #000 81.46%, #000 100%); */
    background: radial-gradient(77% 160% at 50% 80%, #000313 0%, #00011D 25%, #120333 40%, #1d014b 47.5%, #160033 49.70%, #000 49.75%, #190628 50%, rgba(0, 0, 0, 0.73) 74.78%, rgba(0, 0, 0, 0.5) 100%), url("../public/images/SMACS-0723.jpg"), lightgray 50% / cover no-repeat;
    width: 100vw;
    height: 100vh;
}
