#butSkillsRoot{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
#butSkillsTitle{
    display: flex;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    margin: 1em;
    margin-bottom: 0.8em;
    background-color: transparent;
}
