
#projectsPageRoot{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#projectsPageRoot > .section{
    width: 1em;
}
.projectImage{
    position: absolute;
    width: auto;
    height: 10em;
}
.hidden{
    display: none;
}