#projectsPageRoot{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    overflow: visible;
    height: fit-content;
    bottom: 0;
    padding-top: 3em;
}
#projectsPageRoot > .section{
    width: 1em;
}
.projectImage{
    position: absolute;
    width: auto;
    height: 20em;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: solid rgba(255,255,255,0.2) 1px;
    border-radius: 0.5em;
    top: 50%;
    left: 50%;
}
.hidden{
    display: none;
}