.section, .growingSection{
    height: fit-content;
    /* border: solid rgba(255,255,255,0.2) 1px; */
    border-radius: 5px;
    background-color: rgba(0,0,0,0.3);
    place-items: center;
    grid-template-rows: 1fr;
    display: grid;
    max-width: 90%;
    width: 90%;
    height: fit-content;
    min-width: fit-content;
    padding:3em;
    padding-left: 1em;
    padding-right: 1em;
    margin:1em;
    backdrop-filter: blur(5px);
    box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.8);
    transition: all 1s ease;
    z-index: 1;
}
.sectionTitle{
    margin: 0;
}
.skillsPageSection{
    width: 100%;
    height: 100%;
}
.butSkillsPageSection{
    width: 65% ;
}
.section:hover, .growingSection:hover{
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.8);
    background-color: rgba(255,255,255,0.1);
    border: solid 1px rgba(255,255,255,0.2);
}
.growingSection, .growingSection:hover, .growingSection > .content, .growingSection:hover > .content{
    transition: all 1s ease;
}
.growingSection:hover{   
    grid-template-rows: 1fr 1fr;

}
.growingSection > .content {
    display: none;
}
.content{
    color:rgba(255,255,255,0.6);
}
.growingSection:hover .content  {  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content *{
    margin:0;
}
#linksDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#linksDiv >  * {
    margin: 0.5em;
}
#linksDiv > a > svg{
    margin-right: 0.2em;
}
.centeredLink{
    grid-column: 1/3;
}
i, a{
    color:white;
    text-decoration: none;
}
#expand:hover{
    cursor: pointer;
}
.hidden{
    display: none;
}
.homesectionLink{
    display: flex;
    justify-content: center;
    align-items: center;
}
.linkIcon{
    margin-right:  0.5em ;
}

h2{
    color: rgba(255,255,255,0.8);
}
#loneSection{
    grid-column: 2;
}
.sectionLink{
    margin-top: 1em;
}
.homeSection{
	grid-row: 2;
}
.homeSection > h1 {
    font-size: 1.8em;
}
.linkDescription{
    color: rgba(255,255,255,0.5);
    font-size: 0.8em;
}

.gitLinksDiv{
    display: grid;
    grid-template-rows: 1fr 1fr;
    place-items: center;
}
.homeGitLink{
    grid-row: 1;
    /* padding: 0.8em; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.homeGitLink > * {
    margin: 0.3em;
}
.gitLinksDiv > a:not(.homeGitLink){
    grid-row: 2;
}
.contactLinksDiv{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.centeredLinksDiv{
    place-items: center;
    width: 100%;
}
.centeredLinksDiv > a {
    margin: 0.2em;
}